{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}
<div class="container" >
    <div class="row" >
        <div class="col-12">
    <p class="detail-title">{{destination.name}}</p>
    <p class="detail-texts">{{destination.description}}</p>
    <p class="detail-texts">{{destination.activities}}</p>
   
    <p ><img class="detail-img center" src="{{destination.pretty_picture.url}}"></p>

    <p class="detail-texts">Best time to visit:  {{destination.optimal_visiting_season}}</p>
     
     
    <a href="{% url 'destination-update' destination.id %}"class="btn  detail-update ">Update</a>
    <a href="{% url 'destination-delete' destination.id %}"class="btn detail-delete ">Delete</a>

    <br>
</div>
</div>
</div>
    <!--
    <a href="{% url 'destination-update' destination.id %}">
        <button>Update</button>
    </a>
    <a href="{% url 'destination-delete' destination.id %}">
        <button>Delete</button>
    </a>-->

{% comment %} 
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{destination.pretty_picture.url}}" alt="">
  <div class="card-body">
    <h5 class="card-title">{{destination.name}}</h5>
    <p class="card-text">{{destination.description}}</p>
    <p class="card-text">{{destination.activities}}</p>
    <a href="{% url 'destination-update' destination.id %}"class="btn btn-primary detail-update">Update</a>
    <a href="{% url 'destination-delete' destination.id %}"class="btn btn-primary detail-delete">Delete</a>
  </div>
</div>
{% endcomment %}
{% endblock content %}

